<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WKF_WSFI - Downloads</title>
  <link rel="stylesheet" type="text/css" href="../static/css/certificate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link href="../static/img/favicon.ico" rel="icon">
  <link rel="stylesheet" href="../static/css/demo.css" />
  <link rel="stylesheet" href="../static/css/templatemo-style.css">
  
  <script type="text/javascript" src="../static/js/modernizr.custom.86080.js"></script>
		
	</head>

	<body>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">

						<!-- #######   EDIT THE EVENT DETAILS   ####### -->
					<header class="mb-5" style="text-align: center;"><h1><small> Women's Self Defense Seminar</small></h1></header>
					<P class="mb-5" style="text-align: center;"><small>Organized by</small><br><small> WINNERS KARATE FOUNDATION</small><br>2<sup>nd</sup> October 2020</P>


					
					<p class="mb-5" style="text-align: center;"><strong>Enter Registered E-mail ID:</strong></p>
                    <form action="download" method="POST" class="subscribe-form" style="text-align: center; vertical-align: center">
               	    	<div class="row form-section">
							<div class="col-md-7 col-sm-7 col-xs-7" align="center">
			                      <input name="email_id" type="text" class="form-control" id="part_id" placeholder="Your Email..." required/>
				  			</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe center"><strong>Submit</strong></button>
							</div>
						</div>
                    </form>



						<div class="footer-link text-xs-center"><br>
							<p><small>All Rights Reserved. 2020 © MJB</small></p>
		                        <a href="https://www.facebook.com/Winners-Karate-Foundation-101533998136162/" ><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;
			                    <a href="https://www.instagram.com/wkfwsf/" ><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
			                    <a href="https://g.page/r/CfHPtVWmoOzJEAE" ><i class="fa fa-map-marker"></i></a>
		                </div>


					</div>
				</div>	
			</div>		
	</body>
	<script type="text/javascript" src="../static/js/particles.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
</html>